@charset"utf-8";
/* reset */
html,body{margin:0; padding: 0; color: #000;}
h1,h2,h3,h4,h5,h6
p,pre,div{margin: 0; padding: 0;}
ul,ol,li,dl,dd,dt{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #f9e;}
a:hover{text-decoration: underline; font-weight: bold;}
img{border: 0;}

header,section,footer,aside,article,nav,main,figure{display: block;}

/*
header :웹페이지의 상단에 위치 전체의 내용을 총괄하는 영역
section :본문내용을 뜻하며, 작은 웹페이지의 영역
         (내부에는 다시 header,footer,section,article...)
footer: 웹페이지의 가장 하단에 위치(꼭 그렇지는 않다),웹페이지의 정보(회사         정보)를 담는곳
aside: 있으면 좋고, 없어도 크게 불편하지 않는 영역
article: 본문의 내용을 뜻하며, section과 유사하지만 좀더 깊은 의미를 지          닌 내용을 담을때
nav: navigation 의 약자로 주로 메뉴영역을 사용할때 쓰는 영역
main: 전체를 뜻하는 의미의 코드, 현재는 아직 많이 사용하지 않는다.(특수한       경우)
figure: img코드를 감쌀때 쓰는 영역, figcaption(이미지 설명) 코드와 
        함께 사용
template: html문서를 분리해서 사용할때 쓰는 코드
          (기본문서에는 사용하지 않음)
*/

/* common *//*.clearfix:after{content:" "; display:block; clear: both;}*/
/*  익스플로러가 하위일떄 구버전으로 쓴다.*/

/*.clearfix:after, 구버전 신버전 둘다 먹힘   */

.clearfix::after{content:" "; display:block; clear: both;}
/* :hover, :visited, :active */

.hidden{width: 0; height: 0; overflow: hidden;}

/* ===design====================*/
#wrap{width: 700px; height: auto;  margin: auto;}


/* #headBox --------------*/
#headBox{width: 100%; height: 80px; background-color: #f9e; padding: 15px 50px; box-sizing: border-box;}
h1{width: 100px; height: 50px; background-color: #eee; float:left;}
#gnb{width:450px; height: 30px; margin-top: 20px; background-color: #e9e; float: right;}
#gnb>ul{width: 100%; height: 100%;}
#gnb>ul>li{width: 100px; height:30px; float:left; background-color: #9ff; margin-right: 16.666699px;}
#gnb>ul>li.last{margin-right:0;}


/* #bannerBox -----------*/
#bannerBox{width:100%; height: 250px; background-color: #88e;}

/* #sideBox -----------*/
#sideBox{width:100%; height:25px; background-color: #f76;}


/* #contentBox ----------*/
#contentBox{width:100%; height:auto;}
#news{width:50%; height: 300px; background-color: #38e;
float:left; padding: 15px; box-sizing:border-box;}
#news>ul{width:100%; height:100%; background-color: :#ff7;}
#news>ul>li{width:50%; height:50%; float: left; background-color: #fff; padding: 5px; box-sizing: border-box;}
#news>ul>li>a{display: block; width: 100%; height:100%; background-color: #ee9;}

#info{width:50%; height:300px; background-color:#9ef; float:left; padding: 15px; box-sizing: border-box;}
#info>ul{width:100%; height:100%;}
#info>ul>li{width:100%; height: 80px; margin-bottom:10px; background-color: #fff; }
#info>ul>li.last{margin-bottom: 0;}

/* #footBox -------------*/
#footBox{width: 100%; height: 80px; background-color: #f8e;}
  
  
  
  
  
  
  
  